// Place all the styles related to the Camaras controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body { padding-top: 70px; }

.navbar-brand { 
   font-family: 'Cinzel Decorative', cursive;
   font-family: 'Baloo Bhaina', cursive;
   font-size: 3em,
  
   }

h1 {
  color: black;
}

.cam-img {
  width: 100%;
}

.well {
   min-height: 680px;
  background-color: rgba(255,255,255,0.3);
}

